/* latin */
@font-face {
  font-family: 'Oleo Script';
  font-style: normal;
  font-weight: 400;
  src: local('Oleo Script'), local('OleoScript-Regular'), url(fonts/_weQNDK6Uf40CiGFKBBUjo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'Catamaran';
  font-style: normal;
  font-weight: 400;
  src: local('Catamaran'), local('Catamaran-Regular'), url(fonts/iVYgK2bOLvZcSxr0ITOecltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

body{
	font-family: 'Catamaran', sans-serif;
	background: #fffaf3;
}
a{
  color: #990033;
  
}
a:hover, a:focus{
  color: #990033;
  text-decoration: none;
}

h1, h2, h3, h4{
	margin-top: 0px;
	color: #990033
}
hr{
	border-color: #990033;
}
hr.cs {
    padding: 0;
    border: none;
    border-top: medium double #990033;
    color: #333;
    text-align: center;
}
.cst-image{
	width: 100%;
  height: 180px;
  padding: 5px;
  background: #fff;
  box-shadow: 0px 1px 2px #888888;
}
/*hr.cs:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}*/
.content{
	/*width: 80%;*/
	/*background: #fff;*/
	margin: auto;
	/*border:1px solid #dfdfdf;*/
	margin-top: 2em;
	margin-bottom: 2em;
	padding: 1.5em;
}

.general{
  width: 80%;
}

.login{
  width: 30%;
}

footer{
	background: #990033;
	color: #fff;
	font-size: 0.8em;
	padding: 0.5em 1.2em 0.5em 1.2em;
}

.grd-hold{
	background: #fff; padding:0.5em; box-shadow: 0px 1px 2px #888888; border-radius:3px; margin-bottom: 20px;
}

label{
  font-weight: normal;
}
label.b{
  font-weight: bold;
}

table.dt{
    border:1px solid #990033;
    font-size: 13px;
    width: 100%;
  }

  table.dt th{
    text-transform: capitalize;
    text-align: center;
  }

  table.dt th, table.dt td{
    padding: 0.3em 0.5em 0.3em 0.5em;
    border:1px solid #990033;
  }

  table.dt thead tr{
    border-bottom: 4px double #990033;
  }

  table.dt tr:nth-child(even){
    background: transparent;
  }

  table.dt tr:nth-child(odd){
    background: #ffe7ef;
  }


/*CUSTOMIZE BOOTSTRAP*/
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand{
	font-family: 'Oleo Script', cursive;
	color: #FFCCFF;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover{
	font-family: 'Oleo Script', cursive;
	color: #FFCCFF;
}


.navbar{
	margin: 0px;
	background: #990033;
	color: #fff;
	border-radius: 0px;
	border: none;
	box-shadow: none;
	border-bottom: none;
	border-top: 1px solid #990033;
	border-bottom: 1px solid #ddd;
	font-size: 1.1em;
}

.navbar-nav li a.nv{
	color: #b4bcc8;
	/*font-weight: bold;*/
	text-shadow:none;
}

.navbar-default .navbar-nav>li>a{
	color: #fff;
	text-shadow:none;
}
.navbar-default .navbar-nav>li>a:hover{
	color: #fff;
}

.navbar-default .navbar-nav>li>a:focus{
	color: #fff;
}

.dropdown-menu{
	border-radius: 0px;
	box-shadow: 5px 5px 1px rgba(102, 102, 102, 0.1);
}

.dropdown-menu li a:hover{
	background: #f6f6f6;
}

.navbar-nav li a.nv:hover{
	color: #fff;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus{
	background: #990066;
	color: #fff;
}

.nav-pills>li>a{
  color: #990033; 
  border-radius: 2px;
}

.nav-pills>li.active>a{
  background: #990033;
}
.nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
  background: #990033; 
}

input.bootstrap-timepicker-hour, input.bootstrap-timepicker-minute{
  border:none;
}

/*, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover*/


/**/

.hid-menu{
	display: none;
}

input.cst, select.cst, textarea.cst{
    	border-radius: 2px;
    	border: 1px solid #990033;
    	box-shadow: none;
    	font-family: inherit;
    }
.input-group-addon{
  border: 1px solid #990033;
  background: #990033;
  color: #fff;
  font-weight: bold;
}
/*SLIDER*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  box-shadow: 0px 2px 2px #888888;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  padding: 0.5em;
  background: #fff;
  /*border:1px solid #990066*/
  /*box-shadow: 1px 5px 5px #888888;*/
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
/*SLIDER*/
/* =Buttons
-----------------------------------------------------------------------------*/
button{
	font-family: 'Catamaran', sans-serif;
	font-weight: bold;

}
/*.btn{
  
}*/
.cst1{
  background: none;
  color: #990033;
  border:1px solid #990033;
  font-weight: bold;

  display: inline-block;
  vertical-align: top;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.4rem;
  padding: 0 32px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  /*text-decoration: none;
  outline: none;
  border: none;*/
  border-radius: 2px;  
}
.cst1:hover{
  background: #990033;
  border-color: #990033;
  color: rgba(255, 255, 255, 0.9);
}

.cst1:focus{
  background: #990033;
  border-color: #990033;
  color: rgba(255, 255, 255, 0.9);
}

.img-tbl{
  max-width: 150px;
}

.td-cst{
  width: 260px;
}

@media screen and (max-width: 600px) {

  .td-cst{
    width: 100%;
  }

	button.cst-btn{
		width: 100%;
	}

  .btn-full{
    width: 100%;
  }

	.content{
		width: 100%;
	}
	footer{
		text-align: center;
	}

	.navbar-default .navbar-nav .open .dropdown-menu>li>a{
		color: #fff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
		color: #fff;
	}

	.navbar-default .navbar-toggle{
		border:none;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background: #fff;
	}

	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
		background-color: transparent;
	}

      table.resp {
        border: 3px double #990033;
        width: 100%;
      }

      table.resp thead {
        display: none;
      }

      table.resp tr {
        margin-bottom: 10px;
        display: block;
        border-bottom: 2px solid #990033;
      }

      table.resp td {
        display: block;
        text-align: right;
        font-size: 13px;
        border-bottom: 1px dashed #990033;
        padding: 5px;
      }

      table.resp td:last-child {
        border-bottom: 0;
      }

      table.resp td:before {
        content: attr(data-label);
        float: left;
        text-transform: capitalize;
        font-weight: bold;
      }

}